.body {
  margin: 0;
}

.header {
  background-color: #f7eedf;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-left: 20px;
}

.logo {
  height: 120px;
  position: absolute;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: whitesmoke;
  font-weight: bold;
}




.li {
  padding: 20px 10px;
  font-size: 18px;
  font-style: italic;
  color: #236643;
  display: inline;
}

.sobre {
  background-color: #f7eedf;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalogo {
  background-color: white;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.filter {
  padding-bottom: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 5px;
}

.card .img {
  height: 300px;
  width: 100%;
}

.card .descricao {
  height: 40px;
}

.card .valor {
  display: flex;
  justify-content: flex-end;
}

.titleCatalogo {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  color: #236643;
  font-style: italic;
}

.pagination {
  margin-top: 20px;
}

.titleSobre {
  font-size: 25px;
  font-weight: bold;
  color: #236643;
  font-style: italic;
}

.descricaoSobre {
  text-align: center;
  width: 60vw;
  font-size: 15px;
  color: #af3a00;
}

.contato {
  background-color: #f7eedf;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #af3a00;
  padding: 30px 0;
}

.formaPagamento {
  color: #af3a00;
  list-style: none;
}

.titleContato {
  padding-top: 0px;
  font-size: 25px;
  font-weight: bold;
  color: #236643;
  font-style: italic;
}

.redeSocial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.phone {
  font-size: 20px;
  color: #af3a00;
}

.contatoContent {
  text-align: center;
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  /*color: #ae4f10;*/
  color: #236643;
  font-style: italic;
  font-size: 12px;
  background-color: whitesmoke;
}

.home {
  background-image: url('https://res.cloudinary.com/dktrnfmwu/image/upload/v1623806084/Azaleia%20grande/IMG_3936_bx2vyf.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation-duration: 15s;
  animation-name: slide;
  animation-iteration-count: infinite;
  height: 100vh;
}

@keyframes slide {
  50% {
    background-image: url('https://res.cloudinary.com/dktrnfmwu/image/upload/v1623806928/Beg%C3%B4nia/begonia_ok_2_xueabk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }
  75% {
    background-image: url('https://res.cloudinary.com/dktrnfmwu/image/upload/v1623806113/L%C3%ADrio%20Laranja/IMG_2225_1_nftvyz.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }
  100% {
    background-image: url('https://res.cloudinary.com/dktrnfmwu/image/upload/v1623806084/Azaleia%20grande/IMG_3936_bx2vyf.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    justify-content: center;
    height: 120px;
    padding-top: 20px;
  }
  .nav {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    font-weight: bold;
  }
  .sobre {
   padding: 30px 0;
  }
  .card {
    margin: 5px 20px;
  }
}