.main {
  background-color: #f7eedf;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 150px;
  margin: 5px;
}

.footer {
  width: 100%;
  height: 8vh;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ae4f10;
  font-size: 12px;
  background-color: whitesmoke;
}
